!!!
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Architects+Daughter', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/humanity/jquery-ui-1.8.12.custom.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.5.2.min.js')
    script(type='text/javascript', src='/javascripts/jquery-ui-1.8.12.custom.min.js')
    script(type='text/javascript', src='/javascripts/jquery-scrollintoview.js')
    script(type='text/javascript', src='/javascripts/underscore-min.js')
    script(type='text/javascript', src='/javascripts/backbone-min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/board.js')
  body!= body
