body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* http://enchantedgal-stock.deviantart.com/art/Corkboard-Wood-Cork-Composite-49823242?offset=10 */
  background: url(../images/corkboard.jpg);
}

a {
  color: #00B7FF;
}

.note {
  font: 1.2em "Architects Daughter", sans-serif;
  background: transparent url(../images/note.png) 10px 0px no-repeat;
  width: 210px;
  height: 280px;
  padding: 30px 15px 15px 25px;
}

.note-drag {
  background: transparent url(../images/note_drag.png) 0px 0px no-repeat;
}
